.root {
  box-sizing: border-box;
}

.header {
  padding: 0.01rem;
  background-color: rgba(0, 0, 0, 0.856);
}

.header a {
  text-decoration: none;
  color: #ffffff;
}
.row {
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
  }
}
